<!DOCTYPE html>
<html>
    <head>
        <title>使用canvas</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="canvas.css"/>
    </head>
    <body>
        <canvas class="drawing" id="add"></canvas>
        <canvas class="drawing" id="del"></canvas>
        <div id="lesson">
            <select class="select">
                <option>我想大声宣布</option>
                <option>我想大声宣布</option>
                <option>我想大声宣布</option>
                <option>我想大声宣布</option>
            </select>
        </div>
        <br/>            
    </body>
    <script src="jquery-1.11.1.min.js"></script>
    <script src="canvas.js"></script>
</html>