.rect {width: 60px; height: 50px; transform: rotate(180deg);}

.rect1, .rect2, .rect3, .rect4, .rect5{width: 2px; background-color: #fff; margin: .5px; float: left;}
    
.rect1 {height: 2px;}
.rect2 {height: 10px;}
.rect3 {height: 5px;}
.rect4 {height: 7px;}
.rect5 {height: 11px;}

.rect1 {-webkit-animation: rect1 600ms linear 0s infinite alternate;}
.rect2 {-webkit-animation: rect2 700ms linear 0s infinite alternate;}
.rect3 {-webkit-animation: rect3 550ms linear 0s infinite alternate;}
.rect4 {-webkit-animation: rect4 800ms linear 0s infinite alternate;}
.rect5 {-webkit-animation: rect5 700ms linear 0s infinite alternate;}

@-webkit-keyframes rect1 {100% {height: 10px;}}
@-webkit-keyframes rect2 {0% {height: 6px;} 50%{height: 2px;} 100%{height: 5px;}}
@-webkit-keyframes rect3 {100% {height: 13px;}}
@-webkit-keyframes rect4 {100% {height: 10px;}}
@-webkit-keyframes rect5 {0% {height: 2px;} 50%{height: 7px;} 100%{height: 4px;}}