<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>调试打印样式</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>调试打印样式</h1>
    <p class="preview">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus dignissimos, voluptate, quibusdam, quisquam voluptatum quod accusamus doloribus quas
      voluptates voluptatum quibusdam, quisquam voluptates voluptates voluptates voluptates voluptates voluptates voluptates
    </p>
  </body>
</html>
