body {
    background-color: #fff;
}

nav ul li div {
    border-color: #66D9EF;
}

.search {
    
}

pre {
    color: #285594;
}

pre span {
    color: #919090;
}

footer {
    color: #919090;
}
    