<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name='apple-itunes-app' content='app-id=1011663719'>
	<title>App下载检测</title>
	<style>
	* {
		margin: 0;
		padding: 0;
	}
	.app-banner {
		position: fixed;
		bottom: 0;
		z-index: 99;
		width: 100%;
		height: 100px;
		background: rgba(0,0,0,.7);
	}
	.link-btn {
		float: right;
		display: block;
		margin-right: 10px;
		margin-top: 10px;
		width: 100px;
		height: 80px;
		background: #fff;
		color: #333;
		font-size: 32px;
		line-height: 80px;
		text-align: center;
		text-decoration: none;
	}
	</style>
</head>
<body>
	<div id="J_appBanner" class="app-banner">
		<a class="link-btn" id="applink1" onclick="openApp()">Open</a>
	</div>
</body>
	<script>
	if(navigator.userAgent.indexOf("iPhone")>-1&&navigator.userAgent.indexOf("Safari")>-1){
		// document.getElementById("J_appBanner").style.display = "none";
	}
	function openApp() {
		// window.location.href = 'jinhaima://kinhomapp';//自定义
		window.location.href = 'http://a.app.qq.com/o/simple.jsp?pkgname=com.bluemobi.jinhaima';//应用宝
		// window.location.href = 'https://itunes.apple.com/us/app/jin-hai-ma-shang-cheng/id1011663719?l=zh&ls=1&mt=8';//直接跳转应用商店
	}
	/*(function() {
	    var isInstalled,
	        url = 'jinhaima://kinhomapp', // 找android工程师要吧
	        script = document.createElement('script');
	    script.src = url;
	    script.onload = function() {
	        alert('Is installed.');
	        isInstalled = true;
	    };
	    script.onerror = function() {
	        alert('May be not installed.');
	        isInstalled = false;
	    }
	    document.body.appendChild(script);
	})();*/
	</script>
</html>